// customize theme color
$primary: #E83F3F;
$dropdown-link-color: #e5e5e5;
$dropdown-link-hover-color: #000;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";


body {
    background: #141414;
    /* forbid horizontal scoll */
    overflow-x: hidden;
}

body::before {
    display: block;
    content: "";
    height: 80px;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: 'Comfortaa', 'sans-serif';
}

footer {
    a {
        color: #808080;
        text-decoration: none;
    }

    a:hover {
        color: $primary;
    }
}

.text-emphasize {
    font-family: 'Comfortaa', 'sans-serif';
    font-weight: 800;
    transform: scale(1.3);
}
