// customize theme color
$primary: #ff0266;
$info: #f097c7;
$dropdown-link-color: #e5e5e5;
$dropdown-link-hover-color: #000;


@import "../node_modules/bootstrap/scss/bootstrap";


body {
    background: #141414;
    /* forbid horizontal scoll */
    overflow-x: hidden;
  }
  body::before {
    display: block;
    content: "";
    height: 80px;
  }

footer {
    a {
        color: #808080;
        text-decoration: none;
    }
}

.box {
    border:1px solid #000;
    background-color: skyblue;
}

.box2 {
    border:1px solid #000;
    background-color: pink;
}

.box3 {
    border:1px solid #000;
    background-color: rgb(152, 152, 152);
}